@import '~antd/dist/antd.css';

.App {
  text-align: center;
}

.App-logo {
  height: 100px;
  position: fixed;
  left: 50%;
  top: 40%;
  pointer-events: none;
}

@media (prefers-reduced-motion: no-preference) {
  .App-logo {
    animation: App-logo-spin infinite 5s linear;
  }
}

.App-header {
  background-color: #282c34;
  min-height: 100vh;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  font-size: calc(10px + 2vmin);
  color: white;
}

.App-link {
  color: #61dafb;
}

@keyframes App-logo-spin {
  from {
    transform: rotate(0deg);
  }
  to {
    transform: rotate(360deg);
  }
}

/* 88 is the magic number that is basically header + footer */
.content-layout {
  padding-left: 1px;
  overflow: auto;
  height: "calc(100vh - 88px)";
  max-height: "calc(100vh - 88px)";
}

.sider-layout {
  overflow: auto;
  height: "calc(100vh - 88px)";
  max-height: "calc(100vh - 88px)";
}

.sider-layout::-webkit-scrollbar {
  display: none;
}

.all-type-column {
  text-align: center;
}
